@import "typography.scss";
$bgColor: #000;
$zombieColor: #ff92d1;
$humanColor: #eff99c;

html,
body {
  height: 100%;
}

html {
  background: $bgColor;
}

.app-wrapper {
  display: flex;
  height: 100%;

  @media screen and (max-width: 576px) {
    flex-direction: column;
    padding: 12px;
  }
}

.left-side-wrapper {
  padding-bottom: 64px;

  @media screen and (max-width: 576px) {
    padding-bottom: 0;
  }
}

.scoreboard {
  display: flex;

  &-inner {
    display: flex;
    margin: auto;

    @media screen and (max-width: 576px) {
      display: block;
      margin-bottom: 24px;
    }
  }
}

.messageboard-container {
  max-width: 360px;
  min-width: 280px;
  padding-left: 16px;
  padding-right: 16px;
  border-left: solid 1px #555;

  @media screen and (max-width: 576px) {
    border-top: solid 1px #555;
    border-left: none;
    max-width: none;
    padding-top: 32px;
    margin-top: 32px;
  }
}

a.cta {
  text-decoration: none;
  text-transform: uppercase;
  span {
    color: white;
    border-radius: 6px;
    padding: 16px 24px;
    font-weight: 600;
  }
}

.scrollable {
  overflow-y: scroll;

  @media screen and (max-width: 576px) {
    overflow-y: inherit;
  }
}

.zombieColor {
  color: $zombieColor;
}

.humanColor {
  color: $humanColor;
}
