$bgColor: #000;
$humanColor: #eff99c;

.message-board {
  height: 100%;
}

.message {
  padding: 16px 8px;

  &__body {
    color: #fff;
    margin-bottom: 8px;
  }

  &__caption {
    display: flex;
  }
}

.comment-box {
  display: flex;

  input[type="text"] {
    flex-grow: 1;
    margin-right: 8px;
    padding: 6px;
    background: #222;
    border-radius: 2px;
    border: solid 1px #666;
    width: 197px;

    &:focus,
    &:active {
      outline: none;
      border-color: $humanColor;
    }
  }

  button {
    box-sizing: border-box;
    width: 60px;
    height: 27px;
    border-radius: 4px;
    vertical-align: top;

    background: #444;
    color: white;
    font-weight: 600;

    &:hover {
      border-color: $humanColor;
      color: $humanColor;
    }
  }
}
